@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global CSS file or in the style tag */
@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.slide-in {
    animation: slide-in 0.3s forwards;
}

.slide-out {
    animation: slide-out 0.3s forwards;
}


:root {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body, html {
    width: 100vw;
    height: 100vh;
}

.data-\[loaded\=false\]\:skeleton, .skeleton {
    animation-duration: 2s !important;
}